#container {
	width: 90vw;
	float: left;
	margin-left: 5vw;
	background-color: black;
}

img{
float: left;
clear: both;     
}

div {
padding : 1vw;
width: 70vw;
margin-left: 9vw;
/* all these above can not exceed 90 width , the container uses 90vw  */
margin-top: 3vh;
clear:both;
float: left;
/* unless we change these rules, every div is selected to have this styling */
}

h1 {
	font-size: 26pt;
}


body {
background-color: black;
color: silver;
text-align:  center;
font-family: Comic Sans MS;
}


#headermeme {

}


#headertext {
font-size: 26pt;
background-color: black;
color: white;
}



#outputdiv {
background-color: black;
color: white;

}

.questionbox {
background-color: black;
color: white;
}




#buttondiv{
background-color: black;
}



/* styles below target a tag and  :   link, visited, hover, active   removes the horrible underlining  */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a:active {
    text-decoration: none;
    color: white;
}

