h1 {
	font-size: 26pt;
}

body {
background-color: black;
color: silver;
text-align:  center;
font-family: Comic Sans MS;
}

#somediv {
float: left;
width: 40%;
padding: 5%;
margin-left: 25%;
}

#billButton{

}